In [4]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}

df = pd.DataFrame(data)
print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [6]:
import pandas as pd

# Create a Series from a list
data = [10, 20, 30, 40]
series = pd.Series(data)

print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [8]:
import pandas as pd 
import numpy as np

# Creating empty series 
ser = pd.Series() 
print("Pandas Series: ", ser) 

# simple array 
data = np.array(['g', 'e', 'e', 'k', 's']) 
  
ser = pd.Series(data) 
print("Pandas Series:\n", ser)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [12]:
series = pd.Series([100, 200, 300], index=['a', 'b', 'c'])
print(series)

a    100
b    200
c    300
dtype: int64

In [14]:
print(series['a'])  # Output: 100
print(series[1])    # Output: 200

100
200

/var/folders/kp/323_j5d51xbfkfq35kt_7_1h0000gn/T/ipykernel_959/1052080221.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[1])    # Output: 200

In [16]:
print(series * 2)  # Multiply each value by 2
print(series + 10) # Add 10 to each value

a    200
b    400
c    600
dtype: int64
a    110
b    210
c    310
dtype: int64

In [18]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [22]:
df = pd.DataFrame([['Alice', 25], ['Bob', 30]], columns=['Name', 'Age'])
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [24]:
arr = np.array([1, 2, 3, 4, 5])
print(arr)

[1 2 3 4 5]